@import url("https://fonts.googleapis.com/css2?family=Jost&family=Ysabeau+Infant:ital,wght@0,100;0,400;1,1&display=swap");
:root {
  --color-white: #fdfdfd;
  --color-white-second: #bdbbb7;
  --color-dark-main: #040302;
  --color-dark-secondary: #111111;
  --color-dark-third: #1b1b1b;
  --color-secondary-main: linear-gradient(45deg, #0b850b, #0eb10e);
  --color-secondary-hover: linear-gradient(45deg, #0a790a, #0ca10c);
  --color-border-main: #0b850b;
  --color-boxshadow: #0eb10e;
  --text-input: rgba(231, 245, 231, 0.2);
  /* --color-secondary-main: linear-gradient(45deg, #e41011, #fc5130);
  --color-secondary-hover: linear-gradient(45deg, #da1010, #f04e2d);
  --color-border-main: #da1010;
  --color-boxshadow: rgb(240, 78, 45); */
}
/* -------------- Reset CSS ----------------- */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
span {
  display: inline;
}
div {
  display: block;
}
input,
textarea,
button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Jost", sans-serif;
  font-family: "Ysabeau Infant", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--color-dark-main);
}
/* ----------------- Header  | Navbar */
.header {
  width: 100%;
  background-color: var(--color-dark-main);
  padding: 0.5rem;
  position: fixed;
  top: 0;
  z-index: 500;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .navbar-main {
  display: flex;
  gap: 0.5rem;
}
.navbar .navbar-main .navbar__toggler {
  /* color: white !important; */
  display: none;
}
.header .navbar .navbar-main .navbar-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .navbar .navbar-main .navbar-nav .navbar-item .nav-link {
  color: var(--color-white);
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 20px;
  font-weight: 900;
  position: relative;
  transition: all 0.3s ease-in;
}
.header .navbar .navbar-main .navbar-nav .navbar-item .nav-link:before,
.header .navbar .navbar-main .navbar-nav .navbar-item .nav-link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--color-secondary-hover);
  transition: 400ms ease all;
}
.header .navbar .navbar-main .navbar-nav .navbar-item .nav-link:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.header .navbar .navbar-main .navbar-nav .navbar-item .nav-link:hover:before,
.header .navbar .navbar-main .navbar-nav .navbar-item .nav-link:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.header .navbar .navbar-main .navbar-nav .navbar-item .nav-link:hover {
  transition: all 0.3s ease-in;
  background-image: var(--color-secondary-main);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.navbar .navbar-btn {
  position: absolute;
  top: 30px;
  right: 40px;
}
.navbar .navbar-btn a {
  background: var(--color-secondary-main) !important;
  color: #fff;
  padding: 0.8rem 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in;
}
.navbar .navbar-btn a:hover {
  background: var(--color-secondary-hover) !important;
  transition: all 0.5s ease-in;
}

/* ------------------ Secciones ------------------- */
.container {
  position: relative;
  height: 100%;
  color: #000;
  font-size: 16px;
  margin: 2rem 5rem !important;
  padding-top: 5rem !important;
}
/* -------------------Carrousel ---------------- */
/* .swiper {
  padding-top: 50rem;
  min-width: 100%;
  height: 80%;
  object-fit: cover;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper-slide img {
  display: block;
  width: 100% !important;
  height: 100% !important;
} */

/* ------------------- Promociones ------------------- */
.grid-container {
  padding-top: 8rem;
}
.grid-x-wrapper {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.product-item {
  color: var(--color-white) !important;
}
.product-item .product-item-content {
  display: block;
  position: relative;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.product-item {
  display: block;
  text-align: center;
  color: var(--color-white) !important;
  padding: 1.5rem;
  margin-bottom: 1rem;
  margin: 20px 0;
  background-color: var(--color-dark-secondary);
  box-shadow: 0 10px 40px -3px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  transform: scale(0.97, 0.97);
  transition: all 0.17s cubic-bezier(0.24, 0.71, 0.58, 0.57);
  height: 280px;
  position: relative;
  cursor: auto;
  background-position: center;
  background-size: cover;
}
.product-item:after,
.product-item:before {
  content: " ";
  width: 5rem;
  height: 5rem;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
  border-radius: 0.4rem;
  opacity: 0.8;
}
.product-item:after {
  top: -1px;
  left: -1px;
  border-top: 6px solid var(--color-border-main);
  border-left: 6px solid var(--color-border-main);
}
.product-item:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 6px solid var(--color-border-main);
  border-right: 6px solid var(--color-border-main);
}
.product-item:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.product-item:hover:after {
  border-top: 2px solid var(--color-border-main);
  border-left: 2px solid var(--color-border-main);
}
.product-item:hover:before {
  border-bottom: 2px solid var(--color-border-main);
  border-right: 2px solid var(--color-border-main);
}
.product-item:hover:before,
.product-item:hover:after {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px -8px var(--color-boxshadow);
  /* transform: skewX(-1deg); */
  animation: border-anim 1.2s infinite alternate;
}
.product-item:hover {
  box-shadow: 0 0px 50px -10px rgba(0, 0, 0, 0.3);
  transform: scale(1, 1);
}
.product-item:hover .product-item-image img {
  object-fit: cover;
}
.product-item:hover .product-item-image {
  transition-delay: 0.2s;
  -ms-transform: scale(0.8) translateY(-15%);
  transform: scale(0.8) translateY(-15%);
}
.product-item .product-item-image {
  display: block;
  position: relative;
  margin-bottom: 1.5rem;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.product-item .product-item-image .img-1 {
  /* border-radius: 100%; */
  width: 100%;
  height: 12rem;
  position: relative;
  object-fit: fill;
  z-index: 3;
}
.product-item:hover .product-item-image-hover {
  transition-delay: 0.1s;
  -ms-transform: translate(-50%, -42%) scale(0.85);
  transform: translate(-50%, -42%) scale(0.85);
}
.product-item .product-item-category {
  font-size: 1rem !important;
}
.product-item:hover .product-item-category {
  transition-delay: 0.3s;
}
.product-item-price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-secondary-main);
  color: var(--color-white);
  height: 3.2rem;
  width: 3.2rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1rem;
  font-size: 0.9rem !important;
  transform: rotate(-20deg);
  animation: beat 1s ease infinite alternate;
  top: 1px;
  right: 5px;
  z-index: 150000000;
}
.product-item-price:before,
.product-item-price:after {
  content: "";
  position: absolute;
  background: inherit;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(30deg);
}
.product-item-price:after {
  transform: rotate(60deg);
}
.product-item:hover .product-item-category,
.product-item:hover .product-item-price,
.product-item:hover .product-item-title {
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
.product-item .product-item-category,
.product-item .product-item-price,
.product-item .product-item-title {
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.product-item .product-item-category {
  font-size: 0.875rem;
}
.product-item:hover .product-item-title {
  transition-delay: 0.4s;
}
.product-item:hover .button-pill {
  transition-delay: 0.6s;
}
.product-item:hover .button-pill {
  opacity: 1;
  -ms-transform: translateY(5px) translateX(-50%);
  transform: translateY(5px) translateX(-50%);
}
.product-item .button-pill {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateY(30px) translateX(-50%);
  transform: translateY(30px) translateX(-50%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 10;
}
.button-pill a {
  display: inline-block;
  position: relative;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background: var(--color-secondary-main);
  color: var(--color-white);
  border-radius: 0.3rem;
  padding: 0.6rem 2.1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.button-pill a:hover {
  background: var(--color-secondary-hover);
  transition: all 0.3s ease-in;
}
/* --------------- Especialidades ------------------- */
.section-especialidades {
  padding-top: 8rem;
}
.grid-especialidades {
  position: relative;
  z-index: 1;
  background-image: url("../img/especialidades-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-especialidades::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  opacity: 0.7;
}
.especialidades {
  z-index: 2;
  color: #fff !important;
  margin: 0 6rem;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(450px - 6rem), 1fr));
  gap: 1rem;
}
.especialidad .especialidad__nombre {
  z-index: 5000;
  font-size: 1.3rem;
  color: #ffff;
  text-shadow: -1px -1px 0 var(--color-border-main),
    1px -1px 0 var(--color-border-main), -1px 1px 0 var(--color-border-main),
    1px 1px 0 var(--color-border-main);
}
.especialidad .especialidad__ingredientes {
  font-size: 1rem;
}
.title-section,
.title-description {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}
.title-section {
  text-transform: uppercase;
}
.title-description {
  font-size: 1.3rem;
}

/* ------------------- Adicionales -------------------- */
.tamanios {
  margin: 1.5rem 0;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}
.tamanios .tamanio {
  background: #1a1919;
  width: 10rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}
.tamanios .tamanio p {
  font-size: 1.3rem;
}
.tamanio-precio {
  font-size: 2rem !important;
  font-weight: 900 !important;
  background-image: var(--color-secondary-main);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.adicionales {
  padding-top: 8rem;
}

/* Cards adicionales */
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 10vh auto;
}
.card {
  border-radius: 16px;
  min-width: 230px;
}
.information {
  background-color: var(--color-dark-secondary);
  color: white;
  padding: 1.5rem;
}
.information .tag {
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;
}
.information .tag1 {
  background-color: var(--color-boxshadow);
}
.information .tag2 {
  background-color: var(--color-white);
  border: 1px solid var(--color-boxshadow);
  color: var(--color-boxshadow);
}
.information .tag + * {
  margin-top: 1rem;
}
.information .title {
  font-size: 1.5rem;
  line-height: 1.25;
}
.information .title + * {
  margin-top: 1rem;
}

/* --------------------- Visitanos -----------------  */
.visitanos {
  padding: 3rem 0 !important;
}
.visitanos-mapa iframe {
  border: 0;
  width: 100%;
  height: 600px;
}

/* ------------ Animaciones -------------- */
@keyframes border-anim {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes beat {
  from {
    transform: rotate(-20deg) scale(1);
  }
  to {
    transform: rotate(-20deg) scale(1.1);
  }
}

/* --------------------- Responsive ------------------- */
@media (min-width: 1200px) and (max-width: 1366px) {
  .button-pill {
    width: 100%;
  }
  .product-box {
    padding: 0 10px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .product-item .product-item-title {
    font-size: 0.888rem;
  }
  .product-item .product-item-price {
    font-size: 0.788rem;
    padding: 7px 0 0;
  }
  .product-box {
    padding: 0 7px;
  }
}
@media screen and (max-width: 1200px) {
  .swiper {
    width: 100% !important;
    height: auto !important;
  }
}
@media screen and (min-width: 1105px) {
  .especialidades > div:nth-child(odd) {
    margin-right: 2rem;
    text-align: right;
  }
  .especialidades > div:nth-child(even) {
    margin-left: 2rem;
    /* text-align: right; */
  }
}
@media screen and (max-width: 1105px) {
  .especialidades {
    grid-template-columns: repeat(auto-fit, minmax(calc(350px - 6rem), 1fr));
  }
  .visitanos-mapa iframe {
    height: 400px !important;
  }
}
@media screen and (max-width: 800px) {
  .navbar .navbar-main .navbar__toggler {
    display: block !important;
    color: #fff !important;
    font-size: 1.5rem;
  }
  .navbar-nav {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -10px;
    top: 86px;
    z-index: 999;
    width: 100vw !important;
    height: 100vh;
    transition: all 0.3s ease-in;
    transform: translateX(-100%);
  }
  .navbar-item {
    margin: 0.5rem 1.5rem;
  }
  .navbar-nav.active {
    transition: all 0.3s ease-in;
    transform: translateX(0);
  }
  .swiper {
    width: 100%;
    height: 60%;
    transition: all 0.2s ease-in;
  }
  .especialidades {
    margin: 1.5rem;
    justify-items: center;
  }
  .especialidad__nombre,
  .especialidad__ingredientes {
    text-align: center;
  }
  .visitanos-mapa iframe {
    height: 300px !important;
  }
}
@media screen and (max-width: 752px) {
  .card {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .container {
    margin: 7rem 2rem !important;
  }
  .swiper {
    width: 100%;
    height: 40%;
    transition: all 0.2s ease-in;
  }
}
@media screen and (max-width: 462px) {
  .navbar-nav {
    width: 80vw !important;
  }
  .tamanios .tamanio {
    width: 100% !important;
  }
  .card {
    width: 100%;
  }
  .visitanos-mapa iframe {
    height: 200px !important;
  }
}
@media screen and (max-width: 420px) {
  .grid-especialidades {
    margin: 0.1rem;
  }
}
