@media (min-width: 1200px) and (max-width: 1366px) {
  .button-pill {
    width: 100%;
  }
  .product-box {
    padding: 0 10px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .product-item .product-item-title {
    font-size: 0.888rem;
  }
  .product-item .product-item-price {
    font-size: 0.788rem;
    padding: 7px 0 0;
  }
  .product-box {
    padding: 0 7px;
  }
}
@media screen and (max-width: 1200px) {
  .swiper {
    width: 100% !important;
    height: auto !important;
  }
}
@media screen and (min-width: 1105px) {
  .especialidades > div:nth-child(odd) {
    margin-right: 2rem;
    text-align: right;
  }
  .especialidades > div:nth-child(even) {
    margin-left: 2rem;
    /* text-align: right; */
  }
}
@media screen and (max-width: 1105px) {
  .especialidades {
    grid-template-columns: repeat(auto-fit, minmax(calc(350px - 6rem), 1fr));
  }
  .visitanos-mapa iframe {
    height: 400px !important;
  }
}
@media screen and (max-width: 800px) {
  .navbar__toggler {
    display: block;
    color: #fff;
    font-size: 1.5rem;
  }
  .navbar-nav {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -10px;
    top: 86px;
    z-index: 999;
    width: 100vw !important;
    height: 100vh;
    transition: all 0.3s ease-in;
    transform: translateX(-100%);
  }
  .navbar-item {
    margin: 0.5rem 1.5rem;
  }
  .navbar-nav.active {
    transition: all 0.3s ease-in;
    transform: translateX(0);
  }
  .swiper {
    width: 100%;
    height: 60%;
    transition: all 0.2s ease-in;
  }
  .especialidades {
    margin: 1.5rem;
    justify-items: center;
  }
  .especialidad__nombre,
  .especialidad__ingredientes {
    text-align: center;
  }
  .visitanos-mapa iframe {
    height: 300px !important;
  }
}
@media screen and (max-width: 752px) {
  .card {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .container {
    margin: 7rem 2rem !important;
  }
  .swiper {
    width: 100%;
    height: 40%;
    transition: all 0.2s ease-in;
  }
}
@media screen and (max-width: 462px) {
  .navbar-nav {
    width: 80vw !important;
  }
  .tamanios .tamanio {
    width: 100% !important;
  }
  .card {
    width: 100%;
  }
  .visitanos-mapa iframe {
    height: 200px !important;
  }
}
@media screen and (max-width: 420px) {
  .grid-especialidades {
    margin: 0.1rem;
  }
}
