@import url("https://fonts.googleapis.com/css2?family=Jost&family=Ysabeau+Infant:ital,wght@0,100;0,400;1,1&display=swap");
/* -------------- Reset CSS ----------------- */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
span {
  display: inline;
}
div {
  display: block;
}
input,
textarea,
button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-family: "Jost", sans-serif;
  font-family: "Ysabeau Infant", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
}
.header {
  background-color: #0c0c0c;
  padding: 0.5rem;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 9998888;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* top: 1px; */
}
.navbar-main {
  display: flex;
  gap: 0.5rem;
}
.navbar-nav {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navbar__logo {
  color: #fff;
}
.navbar-item .nav-link {
  transition: all 0.3s ease-in;
  padding: 0.8rem 0.5rem;
  /* background-color: #fff; */
  color: #fff;
  opacity: 0.7;
  border-radius: 0.3rem;
  font-size: 20px;
  font-weight: 500;
}
.navbar-item .nav-link:hover {
  transition: all 0.3s ease-in;
  opacity: 0.8;
}
.navbar-btn {
  position: absolute;
  /* left: }; */
  top: 30px;
  right: 40px;
}
.navbar-btn a {
  background-color: #128c7e;
  color: #fff;
  padding: 0.8rem 0.5rem;
  border-radius: 0.5rem;
  animation: move 1s ease infinite alternate;
}
.navbar__toggler {
  display: none;
}
.container {
  position: relative;
  height: 100%;
  color: #000;
  font-size: 16px;
  margin: 7rem 5rem !important;
  padding-top: 5rem !important;
}
.swiper {
  /* background-color: aqua; */
  padding-top: 50rem;
  min-width: 100%;
  height: 80%;
  object-fit: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper-slide img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  /* object-fit: cover; */
}

/* Products
************************** */
.grid-container {
  /* display: grid; */
  /* flex-direction: column; */
  /* grid-template-columns: repeat(2, 1fr); */
  padding-top: 8rem;
}
.grid-x-wrapper {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.product-item {
  color: #fff !important;
}
.product-item .product-item-content {
  display: block;
  position: relative;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.product-item {
  display: block;
  text-align: center;
  color: #fff !important;
  padding: 1.5rem;
  /* overflow: hidden; */
  margin-bottom: 1rem;
  /* font-family: "Rubik", sans-serif; */
  margin: 20px 0;
  /* background: rgba(255, 255, 255, 0.6); */
  background-color: #1a1919;
  /* background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png"); */
  box-shadow: 0 10px 40px -3px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  transform: scale(0.97, 0.97);
  transition: all 0.17s cubic-bezier(0.24, 0.71, 0.58, 0.57);
  height: 280px;
  position: relative;
  cursor: auto;
  background-position: center;
  background-size: cover;
}
.product-item::before {
  content: "";
  width: 1px;
  height: 1px;
  background-color: #1d1c1c;
  position: absolute;
  top: 44.8%;
  left: 44.5%;
  z-index: -1;
  opacity: 0;
  /* transform: translate(-100%, 0); */
  transition: all 0.3s ease;
}

.product-item:hover::before {
  width: 10%;
  height: 10%;
  opacity: 1;
  transform: scale(9.9);
  /* transform: translate(0, 0); */
}
.product-item:hover {
  box-shadow: 0 0px 50px -10px rgba(0, 0, 0, 0.3);
  transform: scale(1, 1);
}
.product-item:hover .product-item-image img {
  object-fit: cover;
}
.product-item:hover .product-item-image {
  transition-delay: 0.2s;
  -ms-transform: scale(0.8) translateY(-15%);
  transform: scale(0.8) translateY(-15%);
}
.product-item .product-item-image {
  display: block;
  position: relative;
  margin-bottom: 1.5rem;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.product-item .product-item-image .img-1 {
  /* border-radius: 100%; */
  width: 100%;
  height: 12rem;
  position: relative;
  object-fit: fill;
  z-index: 3;
}
.product-item:hover .product-item-image-hover {
  transition-delay: 0.1s;
  -ms-transform: translate(-50%, -42%) scale(0.85);
  transform: translate(-50%, -42%) scale(0.85);
}
.product-item .product-item-category {
  font-size: 1rem !important;
}
.product-item:hover .product-item-category {
  transition-delay: 0.3s;
}
.product-item-price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;

  color: #fff;
  height: 3.2rem;
  width: 3.2rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1rem;
  font-size: 0.9rem !important;
  /* margin: 45vh 45vw; */
  transform: rotate(-20deg);
  animation: beat 1s ease infinite alternate;
  top: -10px;
  right: -10px;
  z-index: 150000000;
}
.product-item-price:before,
.product-item-price:after {
  content: "";
  position: absolute;
  background: inherit;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(30deg);
}
.product-item-price:after {
  transform: rotate(60deg);
}
@keyframes beat {
  from {
    transform: rotate(-20deg) scale(1);
  }
  to {
    transform: rotate(-20deg) scale(1.1);
  }
}
.product-item:hover .product-item-category,
.product-item:hover .product-item-price,
.product-item:hover .product-item-title {
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
.product-item .product-item-category,
.product-item .product-item-price,
.product-item .product-item-title {
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.product-item .product-item-category {
  font-size: 0.875rem;
}
.product-item:hover .product-item-title {
  transition-delay: 0.4s;
}
.product-item:hover .product-item-category,
.product-item:hover .product-item-price,
.product-item:hover .product-item-title {
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
.product-item .product-item-category,
.product-item .product-item-price,
.product-item .product-item-title {
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.product-item .product-item-title {
  font-size: 1.125rem;
  font-weight: 600;
}
.product-item:hover .product-item-price {
  transition-delay: 0.5s;
}
.product-item:hover .product-item-category,
.product-item:hover .product-item-price,
.product-item:hover .product-item-title {
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
.product-item .product-item-category,
.product-item .product-item-price,
.product-item .product-item-title {
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.product-item .product-item-price {
  font-size: 1.0625rem;
}
.product-item:hover .button-pill {
  transition-delay: 0.6s;
}
.product-item:hover .button-pill {
  opacity: 1;
  -ms-transform: translateY(5px) translateX(-50%);
  transform: translateY(5px) translateX(-50%);
}
.product-item .button-pill {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateY(30px) translateX(-50%);
  transform: translateY(30px) translateX(-50%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.button-pill a {
  display: inline-block;
  position: relative;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background: #97e7a2;
  background: red;
  color: #fff;
  border-radius: 0.3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  box-shadow: 0 14px 25px 0px rgba(75, 204, 140, 0.1);
  transition: all 0.37s ease;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease-in;
}
.button-pill a:hover {
  transition: all 0.3s ease-in;
  display: inline-block;
  position: relative;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  /* background: #5f5f5f; */
  /* background: -moz-linear-gradient(135deg, #5f5f5f 0%, #000 100%);
  background: -webkit-linear-gradient(135deg, #5f5f5f 0%, #000 100%);
  background: linear-gradient(135deg, #5f5f5f 0%, #000 100%); */
  opacity: 1;
  color: #fff;
  border-radius: 0.3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  box-shadow: 0 14px 25px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1200px) and (max-width: 1366px) {
  .button-pill {
    width: 100%;
  }
  .product-box {
    padding: 0 10px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .product-item .product-item-title {
    font-size: 0.888rem;
  }
  .product-item .product-item-price {
    font-size: 0.788rem;
    padding: 7px 0 0;
  }
  .product-box {
    padding: 0 7px;
  }
}

.section-especialidades {
  padding-top: 8rem;
}
.grid-especialidades {
  position: relative;
  z-index: 1;
  background-image: url("../img/especialidades-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* border-radius: 0.5rem;
  margin: 1rem; */
}
.grid-especialidades::before {
  content: ""; /* Pseudo-elemento ::before para superposición */
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  opacity: 0.7;
  /* border-radius: 0.5rem; */
}
.especialidades {
  z-index: 2;
  color: #fff !important;
  margin: 0 6rem;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(450px - 6rem), 1fr));
  gap: 1rem;
  /* align-content: space-evenly; */
  /* justify-content: space-evenly; */
  /* background: aqua; */
}
.especialidad {
  /* background: aqua; */
  color: #fff !important;
}
.especialidad .especialidad__nombre {
  z-index: 5000;
  font-size: 1.3rem;
  /* text-align: right; */
}
.especialidad .especialidad__ingredientes {
  font-size: 1rem;
  /* text-align: right; */
}

.title-section,
.title-description {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}
.title-section {
  text-transform: uppercase;
}
.title-description {
  font-size: 1.3rem;
}
.tamanios {
  margin: 1.5rem 0;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}
.tamanios .tamanio {
  background: #1a1919;
  width: 10rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}
.tamanios .tamanio p {
  font-size: 1.3rem;
}
.tamanio-precio {
  font-weight: bold;
}

/* ------------- Responsive --------------- */
@media screen and (max-width: 1200px) {
  .swiper {
    width: 100% !important;
    height: auto !important;
  }
}
@media screen and (min-width: 1105px) {
  /* Añade el estilo para alinear el contenido de la columna izquierda al lado derecho */
  .especialidades > div:nth-child(odd) {
    margin-right: 2rem;
    text-align: right;
  }

  /* Añade el estilo para alinear el contenido de la columna derecha al lado izquierdo */
  .especialidades > div:nth-child(even) {
    margin-left: 2rem;
    /* text-align: right; */
  }
}
@media screen and (max-width: 1105px) {
  .especialidades {
    /* margin: 3rem; */
    grid-template-columns: repeat(auto-fit, minmax(calc(350px - 6rem), 1fr));
  }
}
@media screen and (max-width: 800px) {
  .navbar__toggler {
    display: block;
    color: #fff;
  }
  .navbar-nav {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -10px;
    top: 86px;
    z-index: 999;
    width: 50vw;
    height: 84.5vh;
    transition: all 0.3s ease-in;
    transform: translateX(-100%);
  }
  .navbar-nav.active {
    transition: all 0.3s ease-in;
    transform: translateX(0);
  }
  /* .navbar-item {
    display: flex;
    align-content: start;
    justify-items: start;
  } */
  .swiper {
    width: 100%;
    height: 60%;
    transition: all 0.2s ease-in;
  }
  .especialidades {
    margin: 1.5rem;
    /* grid-template-columns: repeat(auto-fit, minmax(calc(350px - 6rem), 1fr)); */
    justify-items: center;
  }
  .especialidad__nombre,
  .especialidad__ingredientes {
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .navbar-nav {
    width: 70vw;
  }
  .container {
    margin: 7rem 2rem !important;
  }
  .swiper {
    width: 100%;
    height: 40%;
    transition: all 0.2s ease-in;
  }
}
@media screen and (max-width: 462px) {
  .tamanios .tamanio {
    width: 100% !important;
  }
  .card {
    /* border-radius: 16px; */
    /* box-shadow: 0 3px 0px -2px rgba(65, 51, 183, 0.25); */
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .grid-especialidades {
    /* background-color: aqua; */
    margin: 0.1rem;
  }
}

.adicionales {
  padding-top: 8rem;
}
.visitanos {
  padding: 3rem 0 !important;
}
/* Cards adicionales */
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  /* width: 100%; */
  max-width: 1000px;
  margin: 10vh auto;
}
.card {
  border-radius: 16px;
  box-shadow: 0 3px 0px -2px rgba(65, 51, 183, 0.25);
  max-width: 300px;
}
.information {
  background-color: #1a1919;
  color: white;
  padding: 1.5rem;
}
.information .tag {
  display: inline-block;
  background-color: rgb(73, 73, 73);
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;
}
.information .tag + * {
  margin-top: 1rem;
}
.information .title {
  font-size: 1.5rem;
  color: var(--c-void);
  line-height: 1.25;
}
.information .title + * {
  margin-top: 1rem;
}
.information .info {
  color: var(--c-charcoal);
}
.information .info + * {
  margin-top: 1.25rem;
}
.information .button {
  font: inherit;
  line-height: 1;
  background-color: var(--c-white);
  border: 2px solid var(--c-indigo);
  color: var(--c-indigo);
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.information .button:hover,
.information .button:focus {
  background-color: var(--c-indigo);
  color: var(--c-white);
}
.information .details {
  display: flex;
  gap: 1rem;
}
.information .details div {
  padding: 0.75em 1em;
  background-color: var(--c-titan-white);
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.125em;
  flex-basis: 50%;
}
.information .details dt {
  font-size: 0.875rem;
  color: var(--c-cold-purple);
}
.information .details dd {
  color: var(--c-indigo);
  font-weight: 600;
  font-size: 1.25rem;
}
